<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Success</title>
    <style>
        .header, .footer {
            background-color: #f77c4c;
            color: white;
            padding: 15px;
            text-align: center;
        }
        .body {
            padding: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1> Hey Member of Blogster </h1>
    </div>
    <div class="body">
        <p>Dear {{ username }} </p>
        <p>Admin is Activated Your Account Please Feel Free to Enjoy </p>
        <p>Publish Your Passions, Your Way</p>
        <p>Create unique and beautiful Blog with us </p>

        <img src="https://atai-main.b-cdn.net/tools/blogster-ai-icon.png" alt="Company Logo" class="logo">
    </div>
    
    <div class="footer">
        <p>Best regards,<br>Blogster</p>
    </div>
</body>
</html>